<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Mary's Mailchimp Markdown Converter</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="mailchimp.css"></script>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

