<!-- views/partials/header.ejs -->

<div class="jumbotron text-center row">
    <div>
        <img class="logo" src="mailchimp.png">
        <span class="header text-info">Mary's Mailchimp Markdown Converter</span>
    </div>
</div>